body {
    background-color: #EBEBEB;
    color: #042A2B;
}

.navbar {
    background-color: #042A2B;
}

.nav-link {
    color: #EBEBEB;
}

.nav-link:focus, .nav-link:hover, .nav-link:active {
    color: white;
}

h1, h2 {
    color: #A22C29;
}

.thumbnail {
    width: 100px;
    height: 100px;
}

.banner {
    width: 100%;
}

.hvr-grow {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.logo {
    width: 30px;
    height: 30px;
    filter: invert(99%) sepia(0%) saturate(2674%) hue-rotate(236deg) brightness(114%) contrast(84%);
}

a:hover {
    cursor: pointer;
}

.offcanvas {
    background-color: #EBEBEB;
}

.modal-content {
    background-color: #EBEBEB;
}

.btn-close {
    filter: invert(13%) sepia(51%) saturate(623%) hue-rotate(133deg) brightness(94%) contrast(101%);
}

iframe {
    width: 100%;
    height: 100%;
}

video {
    max-height: 90vh;
    max-width: 90vw;
    margin: 0 auto;
}